/**
 * UTILITIES.LAYOUT
 *
 * @description : These classes trump other preceeding styles.
 *                Userful for quickly applying common adjustments.
 */

//float
.u-fr {
    float: right;
}

.u-fl {
    float: left;
}

//margin
.u-mb {
    margin-bottom: $spacer;
}
.u-mc {
    margin: 0 auto;
}

//text align
.u-tac{
    text-align: center;
}
.u-tar{
    text-align: right;
}

//background
.u-bg-pink {
    background-color: $beta;
}