/**
 * SETTINGS.COLORS
 *
 * @description : Color variable definitions
 *
 */

/**
 * Main Colours
 */
$alpha         : #212121;  // Black
$beta          : #FF3757;  // Pink
$gamma         : #2196F3;  // Blue
$delta         : #FFEA00;  // Yellow
$kappa         : #FFFFFF;  // White
$tau           : #9E9E9E;  // gray
//$psi         : #000000;  // Color name
//$omega       : #000000;  // Color name


$heading-color : $alpha;
$text-color    : $alpha;

/**
 * UX/Validation colors
 */
$notice        : #2ab9ff;  // Blue
$confirm       : #6fd100;  // Green
$alert         : #ffa800;  // Orange
$warning       : #c60000;  // Red
