/**
 * COMPONENTS.BUTTONS
 *
 * @description : Main buttons
 *
 */

// Base button styles
.c-btn {
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

// Primary button
.c-btn--pri {

}

// Secondary button
.c-btn--sec {

}
