$backgroundIcons: hsl(210, 45, 10);

.c-footer {
    background: $delta;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}



.c-social-box {
    ul {
        margin: 0 auto;
        width: 50%;
    }
  li {
    display: inline-block;
    margin: 12px; // IE8
    margin: 1.2rem;
    a, svg {
        display: block;
    }
    a {
        position: relative; // IE8
        height: 46px; // IE8
        height: 4.6rem;
        width: 46px; // IE8
        width: 4.6rem;
    }
    svg {
        height: 100%;
        width: 100%;
    }
    // IE8:
    em {
        font-size: 14px;
        line-height: 1.5;
        margin-top: -.75em;
        position: absolute;
        text-align: center;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:hover {
        border-radius: 100%;
        color: $backgroundIcons; // IE8
        fill: $backgroundIcons;
        transform: scale(1.25);
        transition: background-color .5s, transform .5s ease-out;
    }
  }
}

.c-contact-details {
    text-align: center;
    a {
        display: inline-block;
        padding: 3rem;
        color: $backgroundIcons;
        font-size: 1.2rem;
        text-decoration: none;
    }
}