/**
 * COMPONENTS.Text Header
 *
 * @description : Test
 *
 */

//hero
.c-hero-container {
  width: 80%;
  margin: 0 auto;
  padding: 6em;
}

.c-hero-box {
    margin: 1rem;
    height: calc(100vh - 2rem);
    position: relative;
    //filter: blur(2px) grayscale(80%);

    .c-hero-box-overlay,
    .c-hero-box-image-layer {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.8);
        filter: blur(1px) grayscale(50%);
    }
    .c-hero-box-image-layer {
        background: url(../images/bg2.png);
    }
}

//SVG Fancy Text
.c-svg-text {
  -webkit-animation: pallete 6s infinite;
          animation: pallete 6s infinite;
}

.c-text-header {
  -webkit-animation: wave 4s linear infinite;
          animation: wave 4s linear infinite;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}


@keyframes wave {
  0%, 100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes pallete {
  0% {
    fill: #FF3757;
  }
  25% {
    fill: #FF715A;
  }
  50% {
    fill: #FFA974;
  }
  75% {
    fill: #FF715A;
  }
  100% {
    fill: #FF3757;
  }
}




.glitch{
  color: black;
  display: inline-block;
  font-size: rem(60);
  position: relative;
  width: auto;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  right: -2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  right: 2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}